# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.vscode/
.idea/
*.iml

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart.local

# Env
.env
*.log

# OS
.DS_Store
Thumbs.db
